@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{


}



    <div class="card shadow border-0">
        <div class="card-header">
            <div class="row">
                <div class="col-9">
                    <h2>Projects</h2>
                </div>
                <div class="col-3 text-right">
                    <a asp-action="New" asp-controller="Projects" class="btn btn-primary">Add project</a>
                </div>
            </div>
        </div>
        <div class="card-body">
            <table class="table">
                <thead>
                    <tr>
                        <th class="table-col-15">ID</th>
                        <th class="table-col-15">Name</th>
                        <th class="table-col-15">Customer</th>
                        <th class="table-col-15">Abbrievation</th>
                        <th class="table-col-40">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (Project p in ViewBag.Projects)
                    {
                        <tr>
                            <td class="table-col-15">@p.Id</td>
                            <td class="table-col-15">@p.Name</td>
                            <td class="table-col-15">@p.Customer</td>
                            <td class="table-col-15">@p.Abbreviation</td>
                            <td class="table-col-40">
                                <a asp-action="Details" asp-controller="Projects" asp-route-id=@p.Id class="btn btn-primary">Show</a>
                                <a asp-action="Edit" asp-controller="Projects" asp-route-id=@p.Id class="btn btn-warning">Edit</a>
                                <form asp-controller="Projects" asp-action="Delete" asp-route-id=@p.Id method="Post">
                                    <button type="submit" class="btn btn-danger">Delete</button>
                                </form>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
